body {
    background-color: #eee
}

.container {
    position: relative
}

.center {

    display: flex;
    justify-content: center;
    align-items: center
}

.cart-bg-style {
    padding: 5px;
    background-color: #d6d4d4;
    border-radius: 8px;
    position: relative
}

.dot {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    left: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #fff;
    opacity: 0
}

.cart-button {
    height: 31px;
}

.cart-button:focus {
    box-shadow: none
}

.cart {
    position: relative;
    height: 30px !important;
    width: 33px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 11px;
    border-radius: 5px;
    font-size: 14px;
}

.cart-button.clicked span.dot {
    animation: item 0.3s ease-in forwards
}

@keyframes item {
    0% {
        opacity: 1;
        top: 30%;
        left: 30%
    }
    25% {
        opacity: 1;
        left: 26%;
        top: 0%
    }
    50% {
        opacity: 1;
        left: 23%;
        top: -22%
    }
    75% {
        opacity: 1;
        left: 19%;
        top: -18%
    }
    100% {
        opacity: 1;
        left: 14%;
        top: 28%
    }
}
